/** @format */

.close-exit-group {
	-webkit-user-select: auto !important;
	-webkit-app-region: normal;
	background-color: #363636;
	position: fixed;
	z-index: 90000;
	right: 0;
	top: 0;
	height: 20px;
	width: 100px;
	pointer-events: all !important;
	button {
		height: 20px;
		width: 50px;
		border-radius: 0 !important;
		border: 0 !important;
		background-color: #363636;
		line-height: 0.0001;
		padding-top: 0rem;
		&:active {
			background-color: #720000 !important;
			border-color: #720000;
			color: white;
		}
		&:focus {
			background-color: #720000 !important;
			border-color: #720000;
			color: white;
		}
	}
}

.close-exit-group > #menu-minimize {
	&:hover {
		background-color: #808080;
		border-color: #808080;
		color: white;
	}
}

.close-exit-group > #menu-exit {
	&:hover {
		background-color: #8d0202;
		border-color: #8d0202;
		color: white;
	}
}

.titlebar-menu-dropdown-panel {
	width: 250px !important;
	-webkit-app-region: no-drag;
	pointer-events: all;
	border-radius: none;
	padding: 0;
	color: white !important;
	&:focus {
		background-color: #720000;
	}
	&:active {
		background-color: #720000;
	}
	.rc-virtual-list-holder-inner {
		.ant-select-item-option-active {
			background-color: #720000;
		}
	}
}
.titlebar-menu-dropdown {
	z-index: 90000;
	-webkit-app-region: no-drag;
	pointer-events: all;
	position: fixed;
	top: 0;
	background-color: #363636;
	border: 0 !important;
	height: 20px;
	color: white;
	font-size: smaller;
	width: 50px;
	z-index: 1000000 !important;
	right: 100px;
	line-height: 1;
	padding: 0;
	.ant-select {
		border: none !important;
		border: 0 !important;
		box-shadow: 0 !important;
	}
	.ant-select-selector {
		border: none !important;
		border-radius: none !important;
		border: 0 !important;
		box-shadow: 0 !important;
		padding: 0;
		height: 20px !important;
		.ant-select-selection-item {
			padding-left: 0.4rem;
			line-height: 1.1rem;
		}
	}
	
	&:hover {
		background-color: #808080;
		border-color: #808080;
		color: white;
	}
}

.dropdown-arrow {
	visibility: hidden;
}
