/** @format */

.hoverButtonColor {
	&.ant-radio-button-wrapper-checked {
		:nth-child(2) {
			color: white;
			pointer-events: none;
			user-select: none;
			&:hover {
				color: white;
				pointer-events: none;
				user-select: none;
			}
		}
		pointer-events: none;
		user-select: none;

		&:hover {
			background-color: #c50000;
			color: white;
			pointer-events: none;
			user-select: none;
		}
		&:focus {
			background-color: #c50000;
			color: white;
			pointer-events: none;
			user-select: none;
		}
		&:active {
			background-color: #c50000;
			color: white;
			pointer-events: none;
			user-select: none;
		}
		.ant-radio-button-checked {
			pointer-events: none;
			user-select: none;
			background-color: #c50000;
		}
	}
}
